# For parsing unstructured data (od-parse)
git+https://github.com/octondata/od-parse.git

# Base Dependencies for od-parse
pdfminer.six>=20221105
Pillow>=9.2.0
pdf2image>=1.16.3
opencv-python>=4.7.0.72
tabula-py>=2.7.0
numpy>=1.24.2
pandas>=1.5.0

# For document retrieval (e.g., FAISS)
faiss-cpu==1.10.0

# For working with configuration files (YAML or JSON)
pyyaml==6.0.2

# For handling PDFs
PyMuPDF==1.24.11

# Other useful libraries
requests==2.32.3
